{{ define "main" }}

<h1>Two Fifteen</h1>

<p>
Collection website for Immersive Media 215: Programming for Immersive Experiences. S26.
</p>
<div class="wrapper">
  <hr />
<h3 class="ta-center">Course Details</h3>
  <ul>
    <li><strong>Meeting Times S26:</strong> MWF 11:00 - 11:50am
    <li><a href={{ref . "assignments"}}> All Assignments</a></li>
    <li><a href="https://github.com/hunterdyar/IMM215-inclass-s24">Select Code from In-Class Exercises (s24)</a></li>
  </ul>
    <hr />
    <h3 class="ta-center">Topics</h3>
{{ with .Site.GetPage "/topics" }}
    {{ range (sort .Data.Pages ".Params.topic" "asc" (where .Pages ".Params.private" "!=" true))}}
        <div class="topic" id={{ .Title }}>
            <h3>
                <a href="#{{.Title}}">#</a> {{ .Params.topic }} - <strong>{{ .Title }}</strong>
            </h3>
            {{ .Content }}
        </div>
    <hr style="width:60%; margin: auto" />
    {{ end }}
{{ end }}
</div>

{{ end }}
