{{ define "main" }}

<h1>Two Fifteen</h1>

<p>
Collection website for Immersive Media 215: Programming for Immersive Experiences. S25.
</p>
<div class="wrapper">
  <hr />
<h3 class="ta-center">Course Details</h3>
<p><strong>Meeting Times:</strong> Section 1: TR 2:15 - 3:30pm
  </p>
    <p><a href={{ref . "assignments"}}> All Assignments</a>
    <hr />
    <h3 class="ta-center">Topics</h3>
{{ with .Site.GetPage "/topics" }}
    {{ range (sort .Data.Pages ".Params.topic" "asc" (where .Pages ".Params.private" "!=" true))}}
        <div class="topic" id={{ .Title }}>
            <h3>
                <a href="#{{.Title}}">#</a> {{ .Params.topic }} - <strong>{{ .Title }}</strong>
            </h3>
            {{ .Content }}
        </div>
    <hr style="width:60%; margin: auto" />
    {{ end }}
{{ end }}
</div>

{{ end }}
